.project__containerProjects{
    display:flex;
    width:20%;
    border:1px solid rgb(95, 95, 95);
    padding: 0;
    border-radius:5px;
    background-color:white;
}
.project__containerProjects:hover {
    transform: scale(1.02);
}

.project__containerProjects img {
    width: 70px;
    height:70px;
    border-radius:5px 0 0 5px;
}

.project__containerProjects .text{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
}
