.sidebar__content{
    z-index:2;
    background-color: lighten($color: $dark-grey, $amount: 35);
    width:25%;
    position: fixed;
    height: 100vh;
    color:white;
 
transition:margin 0.3s ease-in;
}

.sidebar__content ul {
    padding:0 10px;

    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.sidebar__option-container{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;

    
}

.sidebar__option-container{
    border:1px solid white;
    border-radius:5px;
}